{% extends 'sitebase.html.twig' %}

{% block body_center %}
<form action="{{ path('register') }}" method="POST" class="pure-form pure-form-stacked">
  <fieldset>
      <legend>Registro por primera vez</legend>
      {{ form_label(form.email, null, {'attr': {'class': 'foo2'}}) }}
      {{ form_widget(form.email )}}
      <span class="pure-form-message">{{ form_help(form.email) }}</span>
      <span class="pure-form-message">{{ form_errors(form.email) }}</span>

      {{ form_label(form.nombre) }}
      {{ form_widget(form.nombre)}}
      <span class="pure-form-message">{{ form_help(form.nombre) }}</span>
      <span class="pure-form-message">{{ form_errors(form.nombre) }}</span>

      {{ form_label(form.apellido) }}
      {{ form_widget(form.apellido )}}
      <span class="pure-form-message">{{ form_help(form.apellido) }}</span>
      <span class="pure-form-message">{{ form_errors(form.apellido) }}</span>

      {{ form_label(form.nro_documento) }}
      {{ form_widget(form.nro_documento)}}
      <span class="pure-form-message">{{ form_help(form.nro_documento) }}</span>
      <span class="pure-form-message">{{ form_errors(form.nro_documento) }}</span>

      {{ form_label(form.sexo) }}
      {{ form_widget(form.sexo)}}
      <span class="pure-form-message">{{ form_help(form.sexo) }}</span>
      <span class="pure-form-message">{{ form_errors(form.sexo) }}</span>

      <button type="submit" class="pure-button pure-button-primary">Enviar Enlace</button>
  </fieldset>
  {{ form_errors(form) }}
  {{ form_rest(form) }}
  </form>
{% endblock %}
