{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set origen = app.request.query.all.filter.origen.value %}
    {% set destino = app.request.query.all.filter.destino.value %}
    {% set fecha_salida = object.partida|date_modify(object.origenDestinoTrayectoDias(origen)) %}
    {% set fecha_llegada = object.partida|date_modify(object.origenDestinoTrayectoDias(destino)) %}
    {% set reserva_fechahora_salida = fecha_salida|date('Y-m-d')~ ' ' ~object.origenDestinoTrayectoHs(origen)|date('H:i') %}
    {% set reserva_fechahora_llegada = fecha_llegada|date('Y-m-d')~ ' ' ~object.origenDestinoTrayectoHs(destino)|date('H:i') %}
    <div class="list-group mb-5 border border-primary container-fluid" style="border-color: #3c8dbc">
            <div class=" justify-content-between align-items-center">
                <!-- Icono o Logo -->
                <div class="align-items-center">
                    <div class="border-bottom" style="padding-left: 5px">
                        <h5><i class="fas fa-bus"></i> <strong>{{ object.origenDestinoTrayecto(origen) }}</strong> &raquo; <strong>{{ object.origenDestinoTrayecto(destino) }} </strong></h5>
                    </div>

                    <div class="container-fluid" style="padding-right: 1px">
                        <div style="float: left">
                            {% if object.asientosLibres != 0  %}
                                Pasajes <span class="badge rounded-pill text-bg-warning">{{ object.asientosLibres }}</span> <a href="#" data-toggle="modal" data-target="#modal{{ object.id }}" >Trayecto</a>
                            {% else %}
                                <span class="badge badge-danger">Sin Pasajes</span>
                            {% endif %}
                        </div>
                        <div style="float: right">
                            {% if is_granted('ROLE_FINAL_USER') and not is_granted('ROLE_SUPER_ADMIN') %}
                                {% if object.asientosLibres != 0 %}
                                <a href="{{ admin.generateObjectUrl('reserva', object,{ 'origen':app.request.query.all.filter.origen.value, 'destino':app.request.query.all.filter.destino.value, 'fechahora_salida': reserva_fechahora_salida, 'fechahora_llegada': reserva_fechahora_llegada}) }}" class="btn btn-sm btn-danger view_link" title="{{ 'Reservar pasaje'|trans({}, 'SonataAdminBundle') }}" style="min-width: 80px">
                                    <i class="fas fa-ticket-alt "></i>
                                    Reserva
                                </a>
                                {% else %}
                                    <a href="{{ admin.generateObjectUrl('reserva', object) }}" class="btn btn-sm btn-danger disabled" title="{{ 'Reservar pasaje'|trans({}, 'SonataAdminBundle') }}" style="min-width: 80px">
                                        <i class="fas fa-ban"></i>
                                        Agotado
                                    </a>
                                {% endif %}
                            {% endif %}
                            {%  if is_granted('ROLE_USER_BOLETO') and not is_granted('ROLE_SUPER_ADMIN')%}
                                <a href="{{ path('admin_app_servicio_boleto_list', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Listar Boletos'|trans({}, 'SonataAdminBundle') }}" style="min-width: 80px">
                                    <i class="fas fa-address-card"></i>
                                    Boletos
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="btn-group-vertical" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-danger view_link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-gear"></i>
                                        Acciones
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="min-width: 80px; margin: 0; padding: 0;">

                                        {#  <a href="{{ admin.generateObjectUrl('reserva', object, {'origen':app.request.query.all.filter.origen.value, 'destino':app.request.query.all.filter.destino.value, 'fechahora_salida': reserva_fechahora_salida, 'fechahora_llegada': reserva_fechahora_llegada}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Reservar pasaje'|trans({}, 'SonataAdminBundle') }}" style="min-width: 80px">
                                            <i class="fas fa-ticket-alt"></i>
                                            Reserva
                                        </a><br>#}
                                            <a href="{{ path('admin_app_servicio_archivo',  {'id': object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Reservar pasaje'|trans({}, 'SonataAdminBundle') }}" style="min-width: 80px">
                                            <i class="fas fa-file"></i>
                                            Archivo
                                        </a><br>
                                        <a href="{{ path('admin_app_servicio_boleto_list', {'id': object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Listar Boletos'|trans({}, 'SonataAdminBundle') }}" style="min-width: 80px">
                                            <i class="fas fa-address-card"></i>
                                            Boletos
                                        </a><br>
                                        <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-sm btn-default view_link" title="{{ 'Reservar pasaje'|trans({}, 'SonataAdminBundle') }}" style="min-width: 80px">
                                            <i class="fas fa-edit"></i>
                                            Editar
                                        </a>{#<br>
                                          <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default view_link" title="{{ 'Reservar pasaje'|trans({}, 'SonataAdminBundle') }}" style="min-width: 80px">
                                            <i class="fas fa-trash"></i>
                                            Borrar
                                        </a>#}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="align-items-center" style="min-height: auto;">
                        <div class="card col-md-4 col-xs-4">
                            <div class="card-header">

                                <cite title="Source Title">Salida</cite> <br><i class="fa fa-clock-o"></i> {{ object.origenDestinoTrayectoHs(origen)|date('H:i') }}
                            </div>
                            <div class="card-body">
                                <figure>
                                    <blockquote class="blockquote" style="padding: 5px 5px">
                                        <i class="fa fa-calendar-day"></i> <strong>{{ fecha_salida|esp_date('%a %d %b') }}</strong>
                                    </blockquote>
                                </figure>
                            </div>
                        </div>
                        <div class="card col-md-4 col-xs-4">
                            <div class="card-header">
                                <cite title="Source Title">LLegada</cite><br><i class="fa fa-clock-o"></i> {{ object.origenDestinoTrayectoHs(destino)|date('H:i') }}
                            </div>
                            <div class="card-body">
                                <figure>
                                    <blockquote class="blockquote" style="padding: 5px 5px">
                                        <i class="fa fa-calendar-day"></i> <strong>{{ fecha_llegada|esp_date('%a %d %b') }}</strong>
                                    </blockquote>
                                </figure>
                            </div>
                        </div>
                        <div class="card col-md-4 col-xs-4">
                            <div class="card-header">
                                <br>ARS
                            </div>
                            <div class="card-body">
                                <figure>
                                    <blockquote class="blockquote" style="padding: 5px 5px">
                                        {% set nuevo_precio= admin.getServicioCosto(origen, destino) %}
                                        <strong>{{ (nuevo_precio/100) |number_format(2, ',', '.') }}</strong>
                                    </blockquote>

                                </figure>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    </div>
    {# modal taryecto puntos #}
    <div class="modal fade" id="modal{{ object.id }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ object.id }}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fas fa-bus"></i> <strong>{{ object.trayecto.origen }}</strong> &raquo; <strong>{{ object.trayecto.destino }} </strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong class="text-primary">Salida</strong> {{ fecha_salida|esp_date('%a %d %b') }} <i class="fa fa-clock-o"></i>{{ object.origenDestinoTrayectoHs(origen)|date('H:i') }}Hs<br>
                    <strong>{{ object.origenDestinoTrayecto(origen) }}</strong><br><br>
                    {% for tp in object.trayecto.trayectoparadas %}
                        <strong>Parada</strong><br>{{ tp.parada }}<br>
                    {% endfor %}
                    {# set fecha_llegada = object.partida|date_modify(object.origenDestinoTrayectoDias(destino)) #}
                    <br><strong class="text-primary">Llegada</strong> {{ fecha_llegada|esp_date('%a %d %b') }} <i class="fa fa-clock-o"></i>{{ object.origenDestinoTrayectoHs(destino)|date('H:i') }}Hs<br>
                    <strong>{{ object.origenDestinoTrayecto(destino) }}</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {# fin modal trayectos #}
{% endblock field %}
