{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="container-fluid">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Aprobación Manual de Reserva #{{ object.id }}</strong></h3>
            </div>
            
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Detalles de la Reserva</h4>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Comprador</th>
                                <td>{{ object.user ? object.user : 'Sin comprador' }}</td>
                            </tr>
                            <tr>
                                <th>Detalle del Viaje</th>
                                <td>{{ object.origen }} &raquo; {{ object.destino }}</td>
                            </tr>
                            <tr>
                                <th>Salida</th>
                                <td>{{ (object.fechaSalida ?: (object.servicio ? object.servicio.partida : null))|date('d/m/Y H:i') }} Hs</td>
                            </tr>
                            <tr>
                                <th>Llegada</th>
                                <td>{{ (object.fechaLlegada ?: (object.servicio ? object.servicio.llegada : null))|date('d/m/Y H:i') }} Hs</td>
                            </tr>
                            <tr>
                                <th>Asientos / Boletos</th>
                                <td>
                                    {% for boleto in object.boletos %}
                                        <span style="font-size: 22px; margin-right: 20px; display: inline-block; vertical-align: middle;">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="text-success" style="display: inline-block; vertical-align: middle; fill: currentColor; margin-right: 6px;">
                                                <rect x="8" y="2" width="8" height="3.5" rx="1" />
                                                <path d="M7,6.5 C7,6 7.5,5.5 8,5.5 h8 c0.5,0 1,0.5 1,1 v8.5 H7 V6.5 Z" />
                                                <rect x="5" y="15.5" width="14" height="5.5" rx="2" />
                                            </svg><strong>{{ boleto.asiento.numero }}</strong>
                                        </span>
                                    {% else %}
                                        Sin asientos asignados
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Monto Total del Pasaje</th>
                                <td>ARS {{ (object.montoTotal/100)|number_format(2, ',', '.') }}</td>
                            </tr>
                            <tr>
                                <th>Seña Abonada (10% Mercado Pago)</th>
                                <td>
                                    {% set pago = object.pagos|last %}
                                    {% set seña_monto = pago ? pago.importeRecibido : (object.montoTotal * 0.1) %}
                                    <strong class="text-success">ARS {{ (seña_monto/100)|number_format(2, ',', '.') }}</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="col-md-6">
                        <h4>Ingresar Detalles de Pago</h4>
                        {% if conflicts is not empty %}
                            <div class="alert alert-danger">
                                <h4><i class="icon fa fa-ban"></i> ¡Atención! Conflicto de Asientos</h4>
                                No es posible aprobar esta reserva porque los siguientes asientos ya están ocupados o siendo comprados por otra persona:
                                <ul>
                                    {% for conflict in conflicts %}
                                        <li><strong>Asiento {{ conflict.asiento }}</strong> (en Reserva #{{ conflict.conflicting_reserva }})</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="payment_id">ID Pago Mercado Pago <span class="text-danger">*</span></label>
                                <input type="text" id="payment_id" name="payment_id" class="form-control" required="required" placeholder="Ej: 1234567890" value="{{ object.paymentId }}" {% if conflicts is not empty %}disabled="disabled"{% endif %}>
                                <span class="help-block">Copie y pegue el ID de pago desde la plataforma de Mercado Pago.</span>
                            </div>
                            
                            <div class="form-actions" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-success" {% if conflicts is not empty %}disabled="disabled"{% endif %}>
                                    <i class="fa fa-check"></i> Aprobar y Confirmar Reserva
                                </button>
                                <a href="{{ admin.generateUrl('list') }}" class="btn btn-default">
                                    Cancelar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
