{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set f_salida = object.fechaSalida ?: (object.servicio ? object.servicio.partida : null) %}
    {% set f_llegada = object.fechaLlegada ?: (object.servicio ? object.servicio.llegada : null) %}
    {% set id_viaje = object.servicio ? object.servicio.id : null %}
    <strong>{{ object.origen }}</strong> &rarr; <strong>{{ object.destino }}</strong>
    {% if id_viaje %}
        <span class="label label-info" style="margin-left: 5px; font-weight: normal;">ID Viaje: {{ id_viaje }}</span>
    {% endif %}
    <br/>
    <small class="text-muted" style="display: inline-block; margin-top: 4px;">
        <strong>Salida:</strong> {{ f_salida ? f_salida|date('d/m/Y H:i') : 'Sin definir' }}
        <br/>
        <strong>Llegada:</strong> {{ f_llegada ? f_llegada|date('d/m/Y H:i') : 'Sin definir' }}
    </small>
{% endblock field %}
