{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% set badge = { 0 : 'label label-default', 1 : 'label label-primary', 2 : 'label label-success'} %}
{% set nombre = {0 : 'Pago No Aprobado', 1 : 'Pendiente', 2 : 'Pago Aprobado'} %}
{% block sonata_admin_content %}
{% if collectionId is not null %}
    <div class="container">
    <div class="box box-primary">
        <div class="box-header">
            <h4><strong>{{ reserva.origen }}</strong> &raquo; <strong>{{ reserva.destino }}</strong></h4>
            <p>Pago: {{ collectionId }}</p>
            <p>Estado: <span class="{{ badge[reserva.estado] }}">{{ nombre[reserva.estado] }}</span>
                {% if reserva.estado == 1 %}
                    <a href="{{ path('admin_app_reserva_edit', {'id': reserva.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Finalizar Compra'|trans({}, 'SonataAdminBundle') }}" >
                        <i class="fas fa-ticket-alt"></i>
                        Completar compra
                    </a>
                {% endif %}</p>
            <p><u>Salida</u> {{ reserva.fechaSalida|esp_date('%a %d %b') }} &raquo; <strong>{{ reserva.fechaSalida|date('H:i') }} Hs</strong></p>
            <p><u>Llegada</u> {{ reserva.fechaLlegada|esp_date('%a %d %b') }} &raquo; <strong>{{ reserva.fechaLlegada|date('H:i') }} Hs</strong></p>
        </div>
        <div class="col-md-12 flex-column" style="background-color: white">
            {% for boleto in reserva.boletos %}
                        <div class="row col-md-3 box-success">
                            <div class="card" style="width: auto">
                                <div class="card-header"><h4 class="card-title"><i>Boleto {{ boleto.id }}</i></h4></div>
                                <div class="card-body">
                                    <figure>
                                        <blockquote class="blockquote">
                                            <p class="card-text"><strong>Asiento: </strong>{{ boleto.asiento.numero }}</p>
                                            <p class="card-text"><strong>Nombre: </strong>{{ boleto.pasajero.nombre }} {{ boleto.pasajero.apellido }}</p>
                                            <p class="card-text"><strong>DNI: </strong>{{ boleto.pasajero.dni }}</p>
                                        </blockquote>
                                    </figure>
                                </div>
                            </div>
                        </div>

            {% endfor %}
        </div>
    </div>
    </div>
{% else %}
    <p class="alert alert-info">Aún no hay un pasajero asociado a este boleto.</p>
{% endif %}
{% endblock %}